# not ignore file
!.keep

# terraform environment files
.terraform
.terraform.lock.hcl
terraform.tfstate*

*.tfvars

src/env/**/backend.tf
!src/env/**/backend.tf.sample

# temporary directory
tmp/

# credential file and directory
.env
!.env.sample
secrets/
