// Vuetify SCSS variable overrides
// Processed by vuetify-nuxt-module via styles.configFile

$body-font-family: "BIZ UDPGothic", sans-serif;
$heading-font-family: "BIZ UDPGothic", sans-serif;
$card-elevation: 0;
$list-padding: 0;
$data-table-expanded-content-box-shadow: none;
