// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$card-elevation: 0;
$list-padding: 0;

$data-table-expanded-content-box-shadow: none;
