name: build and push

on:
  workflow_call:
    inputs:
      environment:
        description: '環境名'
        type: string
        required: true
      ecr-registry:
        description: 'ECRレジストリ名'
        type: string
        required: true
      ecr-repository:
        description: 'ECRリポジトリ名'
        type: string
        required: true
      service:
        description: 'サービス名'
        type: string
        required: true
      image-path:
        description: 'Dockerfileのパス'
        type: string
        required: true
      image-tag:
        description: 'ECRイメージタグ'
        type: string
        required: false
        default: 'latest'

permissions:
  id-token: write
  contents: read

jobs:
  build_and_push:
    name: build and push
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      with:
        driver-opts: |
          network=host
          image=moby/buildkit:master
        buildkitd-config-inline: |
          [worker.oci]
            max-parallelism = 4

    - name: Setup AWS
      uses: ./.github/actions/setup-aws
      with:
        aws-role-arn: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

    - name: Get ECR repository and image url
      id: get-ecr-url
      uses: ./.github/actions/generate-ecr-url
      with:
        ecr-registry: ${{ inputs.ecr-registry }}
        ecr-repository: ${{ inputs.ecr-repository }}
        image-tag: ${{ inputs.image-tag }}

    - name: Build and push
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        platforms: linux/arm64
        file: ${{ inputs.image-path }}
        build-args: SERVICE=${{ inputs.service }}
        tags: ${{ steps.get-ecr-url.outputs.ecr-image-url }}:${{ steps.get-ecr-url.outputs.ecr-image-tag }}
        push: true
        provenance: false
        cache-from: |
          type=gha
          type=registry,ref=${{ steps.get-ecr-url.outputs.ecr-image-url }}:buildcache
        cache-to: |
          type=gha,mode=max
          type=registry,ref=${{ steps.get-ecr-url.outputs.ecr-image-url }}:buildcache,mode=max
