name: deploy amplify

on:
  workflow_call:
    secrets:
      aws-role-arn:
        description: 'IAM Role ARN'
        required: true
      aws-region:
        description: 'AWS Region'
        required: true
      app-id:
        description: 'AmplifyアプリID'
        required: true
      sentry-auth-token:
        description: 'Sentry認証トークン'
        required: true
    inputs:
      branch-name:
        description: 'ブランチ名'
        type: string
        required: false
        default: 'main'
      working-directory:
        description: '作業ディレクトリ'
        type: string
        required: false
        default: '.'
      sentry-organization:
        description: 'Sentry組織'
        type: string
        required: false
        default: ''
      sentry-project:
        description: 'Sentryプロジェクト'
        type: string
        required: false
        default: ''

jobs:
  deploy_amplify:
    name: deploy amplify
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.working-directory }}

    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup AWS
      uses: ./.github/actions/setup-aws
      with:
        aws-role-arn: ${{ secrets.aws-role-arn }}
        aws-region: ${{ secrets.aws-region }}

    - name: Deploy to Amplify
      run: |
        aws amplify start-job \
          --app-id=${APP_ID} \
          --region=${AWS_REGION} \
          --job-type RELEASE \
          --branch-name=${BRANCH_NAME}
      env:
        APP_ID: ${{ secrets.app-id }}
        AWS_REGION: ${{ secrets.aws-region }}
        BRANCH_NAME: ${{ inputs.branch-name }}
        SENTRY_AUTH_TOKEN: ${{ secrets.sentry-auth-token }}
        SENTRY_ORGANIZATION: ${{ inputs.sentry-organization }}
        SENTRY_PROJECT: ${{ inputs.sentry-project }}
