name: '[Infra] Deploy Serverless for main'
on:
  push:
    branches:
    - 'main'
    paths:
    - '.github/actions/setup-aws/**'
    - '.github/actions/setup-node/**'
    - '.github/workflows/cd-serverless-for-main.yaml'
    - 'infra/serverless/**'

env:
  TZ: 'Asia/Tokyo'
  SERVICE: serverless

permissions:
  id-token: write
  contents: read

jobs:
  build_and_deploy:
    name: deploy and deploy
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ./infra/serverless
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - uses: ./.github/actions/setup-aws
      with:
        aws-role-arn: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - uses: ./.github/actions/setup-node
      with:
        working-directory: ./infra/serverless
        service: ${{ env.SERVICE }}

    - name: install sls
      run: yarn add -D serverless

    - name: serverless deploy
      uses: serverless/github-action@f5f0c17d6ef97718c03f2c0a87c5d9b0bacbb1d8 # v4.0.0
      with:
        args: -c "cd infra/serverless/ && serverless deploy"
        entrypoint: /bin/bash
      env:
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
