name: '[Frontend] Build and Test (LIFF App)'
on:
  push:
    paths:
    - '.github/actions/setup-node/**'
    - '.github/workflows/ci-web-liff.yaml'
    - 'web/liff/**'
    - 'web/shared/**'
    - 'infra/docker/web/liff/**'

permissions:
  contents: read

env:
  SERVICE: liff-web
  TZ: 'Asia/Tokyo'

jobs:
  setup:
    name: setup
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ./web/liff
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup Shared Library
      uses: ./.github/actions/setup-node
      with:
        working-directory: ./web/shared
        service: shared-web

    - name: Build shared library
      run: |
        cd ../shared
        yarn build

    - uses: ./.github/actions/setup-node
      with:
        working-directory: ./web/liff
        service: ${{ env.SERVICE }}

  lint:
    name: lint
    needs: setup
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ./web/liff
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup Shared Library
      uses: ./.github/actions/setup-node
      with:
        working-directory: ./web/shared
        service: shared-web

    - name: Build shared library
      run: |
        cd ../shared
        yarn build

    - uses: ./.github/actions/setup-node
      with:
        working-directory: ./web/liff
        service: ${{ env.SERVICE }}

    - name: Lint
      run: yarn lint

  build:
    name: build
    needs: setup
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ./web/liff
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup Shared Library
      uses: ./.github/actions/setup-node
      with:
        working-directory: ./web/shared
        service: shared-web

    - name: Build shared library
      run: |
        cd ../shared
        yarn build

    - uses: ./.github/actions/setup-node
      with:
        working-directory: ./web/liff
        service: ${{ env.SERVICE }}

    - name: Postinstall
      shell: bash
      run: yarn postinstall

    - name: Build
      run: yarn build

  test:
    name: test
    needs: setup
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
        working-directory: ./web/liff
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup Shared Library
      uses: ./.github/actions/setup-node
      with:
        working-directory: ./web/shared
        service: shared-web

    - name: Build shared library
      run: |
        cd ../shared
        yarn build

    - uses: ./.github/actions/setup-node
      with:
        working-directory: ./web/liff
        service: ${{ env.SERVICE }}

    - name: Postinstall
      shell: bash
      run: yarn postinstall

    - name: Test
      run: yarn coverage

    - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        flags: liff-web
        verbose: true
