name: 'Automatically Release'
on:
  push:
    branches:
    - main

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        token: ${{ secrets.PAT }}

    - name: Create and Update Release Pull Request and Tag
      uses: Songmu/tagpr@7191605433b03e11b313dbbc0efb80185170de4b # v1.9.0
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
